
@{
    ViewBag.Title = "Billing";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/AngularControllers/BillingController.js"></script>
}

<div ng-controller="BillingCntrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Usage and Billing
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="#">Billing</a></li>
        @*<li class="active">Add Course</li>*@
        </ol>
    </section>

    <!-- Form Body (Page body)-->
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="pull-left">
                    <label>
                        <select class="form-control" id="drpEntityName" style="width: 100%;" data-ng-model="EntityID" data-ng-options="c.EntityID as c.EntityName for c in EntityList" data-ng-change="GetCentersForEntity()">
                            <option value="">{{EntityTextToShow}}</option>
                        </select>
                    </label>
                    <label>
                        <select class="form-control" id="drpCenterName" style="width: 100%;" data-ng-model="CenterID" data-ng-options="c.CenterID as c.CenterName for c in CentersList" data-ng-change="GetClassrooms()">
                            <option value="">{{CenterTextToShow}}</option>
                        </select>
                    </label>
                    <label>
                        <select class="form-control" id="drpClassroomName" style="width: 100%;" data-ng-model="ClassRoomID" data-ng-options="c.ClassRoomID as c.ClassRoomName for c in ClassroomList" data-ng-change="GetStreamList()">
                            <option value="">{{ClassroomTextToShow}}</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Date</th>
                                    <th>Stream</th>
                                    <th>Bytes</th>
                                    <th>Amount</th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Stream in StreamList | filter: CourseFilter">
                                    <td>
                                        {{$index+1}}.
                                    </td>
                                    <td>
                                        <span>{{Stream.date}}</span>
                                    </td>
                                    <td>
                                        <span>{{Stream.Stream}}</span>
                                    </td>
                                    <td>
                                        <strong><span>{{Stream.Bytes}}</span></strong>
                                    </td>
                                    <td>
                                        <strong><span>0</span></strong>
                                    </td>
                                    @*<th>
                                    <span ng-click="SurveyAttemptReport(Survey.SURVEY_ID)" style="cursor:pointer;" class="fa fa-file-text-o"></span>&nbsp;
                                </th>*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

