@{
    ViewBag.Title = "CourseMgmt";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@section scripts{    
    <script src="~/Scripts/AngularControllers/CourseController.js"></script>
}
<div ng-controller="CourseCntrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Course Management
            <small>Add and View course details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Manage Course</a></li>
            @*<li class="active">Add Course</li>*@
        </ol>
    </section>

    <!-- Form Body (Page body)-->
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">                
                <div class="pull-left">
                    <button type="button" class="btn btn-dropbox" id="btnAddProgram" data-toggle="modal" data-target="#AddProgram"><i class="glyphicon glyphicon-plus"> </i> Add Program</button>
                    <button type="button" class="btn btn-dropbox" id="btnAddCourse" ng-click="OpenCoursePopUp()"><i class="glyphicon glyphicon-plus"> </i> Add Course</button>
                    <button type="button" class="btn btn-dropbox" id="btnAddSubject" ng-click="OpenSubjectPopUp()"><i class="glyphicon glyphicon-plus"> </i> Add Subject</button>
                    <button type="button" class="btn btn-dropbox" id="btnAddTopic" ng-click="OpenTopicPopUp()"><i class="glyphicon glyphicon-plus"> </i> Add Unit</button>                    
                </div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>
                                        <button ng-click="sortBy('ProgramName')">Program</button>
                                        <span class="sortorder" ng-show="propertyName === 'ProgramName'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th>
                                        <button ng-click="sortBy('CourseName')">Course</button>
                                        <span class="sortorder" ng-show="propertyName === 'CourseName'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th>
                                        <button ng-click="sortBy('SubjectName')">Subject</button>
                                        <span class="sortorder" ng-show="propertyName === 'SubjectName'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    <th>
                                        <button ng-click="sortBy('TopicName')">Unit</button>
                                        <span class="sortorder" ng-show="propertyName === 'TopicName'" ng-class="{reverse: reverse}"></span>
                                    </th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Course in CourseList | filter: CourseFilter | orderBy:propertyName:reverse">
                                    <td>
                                        {{$index+1}}.
                                    </td>
                                    <td>
                                        <span>{{Course.ProgramName}}</span>
                                    </td>
                                    <td>
                                        <span>{{Course.CourseName}}</span>
                                    </td>
                                    <td>
                                        <span>{{Course.SubjectName}}</span>
                                    </td>
                                    <td>
                                        <span>{{Course.TopicName}}</span>
                                    </td>                                    
                                    @*<th>
                                        <span ng-click="SurveyAttemptReport(Survey.SURVEY_ID)" style="cursor:pointer;" class="fa fa-file-text-o"></span>&nbsp;                                        
                                    </th>*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @* Popup to Show Program Window *@
    <div class="modal" id="AddProgram" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Add Program</h3>
                    <h4 class="text-info">Note:Program Code cannot have '-' in it</h4>
                </div>
                <div class="modal-body" style="margin:0px 10px 0px 10px;">
                    <form class="form-horizontal" name="UpdateEmployeeForm">
                        <div class="form-group">
                            <label class="text-info"> Program Name</label>
                            <input type="text" name="ProgramName" ng-model="ProgramName" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter program name...">
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Program Code</label>
                            <input type="text" name="ProgramCode" ng-model="ProgramCode" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter program code...">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="SaveProgram()" id="btnUpdate" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* Popup to Show Program Window *@

    @* Popup to Show Course Window *@
    <div class="modal" id="AddCourse" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Add Course</h3>
                    <h4 class="text-info">Note:Course Code cannot have '-' in it</h4>
                </div>
                <div class="modal-body" style="margin:0px 10px 0px 10px;">
                    <form class="form-horizontal" name="UpdateEmployeeForm">
                        <div class="form-group">
                            <label class="text-info"> Program Name</label>
                            <select class="form-control" id="drpProgramName" style="width: 100%;" data-ng-model="ProgID" data-ng-options="c.ProgID as c.ProgramName for c in ProgramsList">
                                <option value="">{{ProgramTextToShow}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Course Name</label>
                            <input type="text" name="CourseName" ng-model="CourseName" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter course name...">
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Course Code</label>
                            <input type="text" name="CourseCode" ng-model="CourseCode" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter course code...">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="SaveCourse()" id="btnAddCourse" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* Popup to Show Course Window *@

    @* Popup to Show Subject Window *@
    <div class="modal" id="AddSubject" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Add Subject</h3>
                    <h4 class="text-info">Note:Subject Code cannot have '-' in it</h4>
                </div>
                <div class="modal-body" style="margin:0px 10px 0px 10px;">
                    <form class="form-horizontal" name="UpdateEmployeeForm">
                        <div class="form-group">
                            <label class="text-info"> Program Name</label>
                            <select class="form-control" id="drpProgramName" style="width: 100%;" data-ng-model="ProgID" data-ng-options="c.ProgID as c.ProgramName for c in ProgramsList" data-ng-change="GetCourseList()">
                                <option value="">{{ProgramTextToShow}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Course Name</label>
                            <select class="form-control" id="drpProgramName" style="width: 100%;" data-ng-model="CourseID" data-ng-options="c.CourseID as c.CourseName for c in CoursesList">
                                <option value="">{{CourseTextToShow}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Subject Name</label>
                            <input type="text" name="SubjectName" ng-model="SubjectName" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter subject name...">
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Subject Code</label>
                            <input type="text" name="SubjectCode" ng-model="SubjectCode" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter subject code...">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="SaveSubject()" id="btnAddSubject" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* Popup to Show Subject Window *@

    @* Popup to Show Topic Window *@
    <div class="modal" id="AddTopic" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Add Unit</h3>
                </div>
                <div class="modal-body" style="margin:0px 10px 0px 10px;">
                    <form class="form-horizontal" name="UpdateEmployeeForm">
                        <div class="form-group">
                            <label class="text-info"> Program Name</label>
                            <select class="form-control" id="drpProgramName" style="width: 100%;" data-ng-model="ProgID" data-ng-options="c.ProgID as c.ProgramName for c in ProgramsList" data-ng-change="GetCourseList()">
                                <option value="">{{ProgramTextToShow}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Course Name</label>
                            <select class="form-control" id="drpCourseName" style="width: 100%;" data-ng-model="CourseID" data-ng-options="c.CourseID as c.CourseName for c in CoursesList" data-ng-change="GetSubjectsList()">
                                <option value="">{{CourseTextToShow}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Subject Name</label>
                            <select class="form-control" id="drpSubjectName" style="width: 100%;" data-ng-model="SubjectID" data-ng-options="c.SubjectID as c.SubjectName for c in SubjectsList">
                                <option value="">{{SubjectTextToShow}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Unit Name</label>
                            <input type="text" name="TopicName" ng-model="TopicName" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter topic name...">
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Unit Code</label>
                            <input type="text" name="TopicCode" ng-model="TopicCode" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter topic code...">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="SaveTopic()" id="btnAddTopic" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* Popup to Show Topic Window *@    
</div>