
@{
    ViewBag.Title = "EntityUsers";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/AngularControllers/EntityController.js"></script>
}
<div ng-controller="EntityUserCntrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            View Users
            <small>View all Organisation users</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Organisation Users</a></li>
            @*<li class="active">Add Course</li>*@
        </ol>
    </section>

    <!-- Form Body (Page body)-->
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="pull-left">
                    <label>

                    </label>

                    <button type="button" class="btn btn-dropbox btn-sm" id="btnUpdatePassword" data-toggle="modal" data-target="#UpdatePassword"><i class="glyphicon glyphicon-plus"> </i> Update Password</button>
                </div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>User Full Name</th>
                                    <th>Email (UserName)</th>
                                    <th>Mobile</th>
                                    <th>User Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="User in EntityUserList">
                                    <td>
                                        {{$index+1}}.
                                    </td>
                                    <td>
                                        <span>{{User.FullName}}</span>
                                    </td>
                                    <td>
                                        <span>{{User.EmailID}}</span>
                                    </td>
                                    <td>
                                        <span>{{User.Mobile}}</span>
                                    </td>
                                    <td>
                                        <span>{{User.RoleName}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>



    @* Popup to Show Update Password *@
    <div class="modal" id="UpdatePassword" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Update Password</h3>
                </div>
                <div class="modal-body" style="margin:0px 10px 0px 10px;">
                    <form class="form-horizontal" name="UpdatePasswordForm">
                        <div class="form-group">
                            <label class="text-info"> Select User</label>
                            <select class="form-control" id="drpRole" style="width: 100%;" data-ng-model="UserID" data-ng-options="c.UserID as c.UserName for c in EntityUserList">
                                <option value="">Please Select..</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Password</label>
                            <input type="text" name="EntityCode" ng-model="Password" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter Password...">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="UpdatePassword()" id="btnUpdate" data-dismiss="modal">Update Password</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* Popup to Show Program Window *@
</div>