
@{
    ViewBag.Title = "ViewQuestions";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/AngularControllers/QuestionBankController.js"></script>
}
    <div data-ng-controller="QuestionCntrl">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Question Bank
                <small>View all questions</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="~/Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a href="#">View Questions</a></li>
            </ol>
        </section>

        <!-- Form Body (Page body)-->
        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="pull-left">
                        <button type="button" class="btn btn-dropbox" id="btnAddProgram" data-toggle="modal" ng-click="AddQuestion()"><i class="glyphicon glyphicon-plus"> </i> Add Question</button>
                        <label>
                            <select class="form-control" id="drpClassroomName" style="width: 100%;" data-ng-model="QTagID" data-ng-options="c.QTagID as c.TagText for c in TagsList" data-ng-change="SetTagFilter()">
                                <option value="">{{TagTextToShow}}</option>
                            </select>
                        </label>

                    </div>
                    <div class="box-tools pull-right">
                        <label>
                            <input type="text" name="table_search" ng-model="StudentFilter" class="form-control" placeholder="Search Question..">
                        </label>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:5px;">#</th>
                                        <th>Questions & Options</th>
                                        <th style="width:250px;">Question Tag</th>
                                        <th style="width:100px;">Delete</th>
                                        <th style="width:100px;">Edit</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="Q in QuestionList | filter:StudentFilter | startFrom:currentPage*pageSize | limitTo:pageSize">
                                    <tr>
                                        <td>
                                            {{$index+1}}.
                                        </td>
                                        <td>
                                            <span><strong>{{Q.Question.QuestionText}}</strong></span>
                                        </td>
                                        <td>
                                            <span>{{Q.Question.TagText}}</span>
                                        </td>
                                        <td>
                                            <span ng-click="DeleteQuestion(Q.Question.QID)" style="cursor:pointer;" class="fa fa-times-circle-o"></span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-block btn-default btn-sm" ng-click="GetSelectedQuestionDetails(Q.Question.QID)" data-toggle="modal"><i class="glyphicon glyphicon-list"> </i>Edit</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div style="margin-left:50px;" ng-repeat="O in Q.Options">
                                                {{$index+1}}. {{O.OptionText}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-flat" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                Previous
                            </button>
                            {{currentPage+1}}/{{numberOfPages()}}
                            <button class="btn btn-flat" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @* Popup to Show Program Window *@
        <div class="modal" id="EditQuestion" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="text-info">Edit Question</h3>
                    </div>
                    <div class="modal-body" style="margin:0px 10px 0px 10px;">
                        <form class="form-horizontal" name="AddEntityForm">
                            <div class="form-group">
                                <label class="text-info"> Question Text</label>
                                <input type="text" name="EntityName" ng-model="QuestionText" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter...">
                            </div>
                            <div class="form-group">
                                <label class="text-info"> Options</label>
                                <input type="text" name="EntityCode" ng-model="Option1" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter...">
                                <input type="text" name="ManagerName" ng-model="Option2" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter...">
                                <input type="text" name="Email" ng-model="Option3" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter...">
                                <input type="text" name="Email" ng-model="Option4" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter...">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="EditQuestion()" id="btnUpdate" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        @* Popup to Show Program Window *@

    </div>

