
@{
    ViewBag.Title = "AllocateRemote";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/AngularControllers/StudentController.js"></script>
}

<div ng-controller="AllocateRemoteCntrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Remote Management
            <small>Assign remote to student</small>
            <strong><small style="color:red">Make sure to bind 2WayRemote to 2WayReceiver before allocating to student</small></strong>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Manage Course</a></li>
            @*<li class="active">Add Course</li>*@
        </ol>
    </section>

    <!-- Form Body (Page body)-->
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="pull-left">
                    <label>
                        <select class="form-control" id="drpClassroomName" style="width: 100%;" data-ng-model="ReceiverSerialNo" data-ng-options="c.ReceiverSerialNo as c.ClassRoomName for c in ClassroomList" data-ng-change="GetProgramsList()">
                            <option value="">{{ClassroomTextToShow}}</option>
                        </select>
                    </label>
                    <label>
                        <select class="form-control" id="drpProgramName" style="width: 100%;" data-ng-model="ProgID" data-ng-options="c.ProgID as c.ProgramName for c in ProgramsList" data-ng-change="GetCourseList()">
                            <option value="">{{ProgramTextToShow}}</option>
                        </select>
                    </label>
                    <label>
                        <select class="form-control" id="drpCourseName" style="width: 100%;" data-ng-model="CourseID" data-ng-options="c.CourseID as c.CourseName for c in CoursesList" data-ng-change="GetSubjectsList()">
                            <option value="">{{CourseTextToShow}}</option>
                        </select>
                    </label>
                    <label>
                        <select class="form-control" id="drpSubjecteName" style="width: 100%;" data-ng-model="SubjectID" data-ng-options="c.SubjectID as c.SubjectName for c in SubjectsList" data-ng-change="GetStudentsList()">
                            <option value="">{{SubjectTextToShow}}</option>
                        </select>
                    </label>

                    <label>
                        <span style="width: 100%; height:30px">2WayReceiver No: </span>
                        <strong><span style="width: 100%;color:red" id="receiver"></span></strong>
                    </label>

                    <label>
                        <input type="text" name="table_search" ng-model="StudentFilter" class="form-control" placeholder="Search Student..">
                    </label>
                </div>
                <div class="box-tools">
                    <div class="input-group input-group-sm " style="width:250px; height:30px;">
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:15px;">Sl No.</th>
                                    <th style="width:100px;">Image</th>
                                    <th style="width:250px;">Name</th>
                                    <th>Enter Remote No.</th>
                                </tr>
                            </thead>
                            <tbody style="font-size:16px;">
                                <tr ng-repeat="Student in StudentsList | filter: StudentFilter">
                                    <td>
                                        {{$index+1}}.
                                    </td>
                                    <td>
                                        <span><img ng-src="{{Student.StudentImageURL}}" height="80" width="80"></span>
                                    </td>
                                    <td>
                                        <span><strong>{{Student.StudentName}}</strong></span><br />
                                        <span>Roll No. {{Student.Code}}</span><br />
                                        <span>Contact No. {{Student.Mobile}}</span><br />
                                    </td>
                                    <th>
                                        <div>
                                            <label>
                                                <span>Assigned 2WayRemote: {{Student.RemoteNum}}</span>
                                            </label>                                            
                                        </div>
                                        <div>
                                            <label class="col-lg-3">
                                                <input type="text" ng-model="RemoteNumber" name="Landline" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter remote number...">
                                            </label>
                                            <label>
                                                <button type="button" class="btn btn-block btn-success btn-sm" ng-click="AssignRemoteToStudent(Student.StudentID, RemoteNumber)"><span class="glyphicon glyphicon-ok"></span> Assign</button>
                                            </label>
                                        </div>                                        
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
