
@{
    ViewBag.Title = "ViewStudents";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/AngularControllers/StudentController.js"></script>
    <script src="~/Scripts/ImageCrop/image-crop.js"></script>
}

<div ng-controller="StudentViewCntrl" ng-init="clear()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Students List
            <small>View all students list</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Manage Students</a></li>
            @*<li class="active">Add Course</li>*@
        </ol>
    </section>

    <!-- Form Body (Page body)-->
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="pull-left">
                    <button type="button" class="btn btn-success btn-sm" id="btnAddStudent" ng-click="AddStudent()"><i class="glyphicon glyphicon-list"> </i>&nbsp; Add Student</button>
                    <label>
                        <select class="form-control" style="Width:100%;" ng-options=" option for option in StudentViewOptions"
                                ng-model="selectedItem"
                                ng-change="selectedItemChanged()">
                                <option value="">Please Select...</option>
                        </select>
                    </label>
                    <label>
                        <select class="form-control" id="drpProgramName" style="width: 100%;" data-ng-model="ProgID" data-ng-options="c.ProgID as c.ProgramName for c in ProgramsList" data-ng-change="GetCourseList()">
                            <option value="">{{ProgramTextToShow}}</option>
                        </select>
                    </label>
                    <label>
                        <select class="form-control" id="drpCourseName" style="width: 100%;" data-ng-model="CourseID" data-ng-options="c.CourseID as c.CourseName for c in CoursesList" data-ng-change="GetSubjectsList()">
                            <option value="">{{CourseTextToShow}}</option>
                        </select>
                    </label>
                    <label>
                        <select class="form-control" id="drpSubjecteName" style="width: 100%;" data-ng-model="SubjectID" data-ng-options="c.SubjectID as c.SubjectName for c in SubjectsList" data-ng-change="GetStudentsListBySubject()">
                            <option value="">{{SubjectTextToShow}}</option>
                        </select>
                    </label>
                </div>
                <div class="box-tools">
                    <div class="input-group input-group-sm " style="width:250px; height:30px;">
                        @*<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>*@
                        <input type="text" name="table_search" ng-model="StudentFilter" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:15px;">Sl No.</th>
                                    <th style="width:100px;">Image</th>
                                    <th>Name</th>
                                    <th>Guardian</th>
                                    <th>Center</th>
                                    <th>Course Info</th>
                                    <th>Created By</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody style="font-size:16px;">
                                <tr ng-repeat="Student in StudentsList | filter: StudentFilter">
                                    <td>
                                        {{$index+1}}.
                                    </td>
                                    <td>
                                        <span><img ng-src="{{Student.StudentImageURL}}" height="80" width="80"></span>
                                    </td>
                                    <td>
                                        <span><strong>{{Student.StudentName}}</strong></span><br />
                                        <span>Roll No. {{Student.Code}}</span><br />
                                        <span>Contact No. {{Student.Mobile}}</span>
                                    </td>
                                    <td>
                                        <span>{{Student.GuardianName}}</span><br />
                                        <span>Contact No. {{Student.GuardianContactNo}}</span>
                                    </td>
                                    <td>
                                        <span>{{Student.CenterName}}</span>
                                    </td>
                                    <td>
                                        <span>Program: {{Student.ProgramName}}</span><br />
                                        <span>Course: {{Student.CourseName}}</span><br />
                                        <span>Subject: {{Student.SubjectName}}</span>
                                    </td>
                                    <td>
                                        <span>{{Student.FullName}}</span>
                                    </td>
                                    <td>
                                        <button type="submit" data-toggle="modal" data-target="#DisplayRRQSelector" class="btn btn-default" ng-click="SelectStudent(Student.StudentID)"><i class="fa fa-search"></i></button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-block btn-default btn-sm" ng-click="EditStudent(Student.Code)" data-toggle="modal"><i class="glyphicon glyphicon-list"> </i> Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @* Popup to Show Students Enlarge Image *@
    <div class="modal" id="DisplayRRQSelector" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="margin:0px 10px 0px 10px;">
                    <form class="form-horizontal" name="ShowRRQSelector">
                        <div class="form-group">
                            <div style="height:600px;">
                                <iframe id="mce" height="600" width="570" style="border: none" src="http://twowaylive.us-east-2.elasticbeanstalk.com/Index.html"></iframe>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">                    
                    <button type="submit" data-toggle="modal" data-target="#DisplayRRQSelector" class="btn btn-default" ng-click="SaveImage()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    @* Popup to Show Students Enlarge Image *@
</div>