
@{
    ViewBag.Title = "NewSession";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}


@section scripts{
    <script src="~/Scripts/AngularControllers/SessionController.js"></script>
}

<div ng-controller="EditSessionCntrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Edit Session
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Edit Session</a></li>
            @*<li class="active">Add Course</li>*@
        </ol>
    </section>

    <!-- Form Body (Page body)-->
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="pull-left">
                    <button type="button" class="btn btn-success" id="btnViewSubjects" ng-click="ShowSessions()"><i class="glyphicon glyphicon-list"> </i>&nbsp; View Sessions</button>
                </div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Program</label>
                            <select class="form-control" id="drpProgramName" style="width: 100%;" data-ng-model="ProgID" data-ng-options="p.ProgID as p.ProgramName for p in Programs">
                                <option value="">{{ProgramTextToShow}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Course</label>
                            <select class="form-control" id="drpCourseName" style="width: 100%;" data-ng-model="CourseID" data-ng-options="c.CourseID as c.CourseName for c in Courses">
                                <option value="">{{CourseTextToShow}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Subject</label>
                            <select class="form-control" id="drpSubjectName" style="width: 100%;" data-ng-model="SubjectID" data-ng-options="s.SubjectID as s.SubjectName for s in Subjects">
                                <option value="">{{SubjectTextToShow}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Unit</label>
                            <select multiple class="form-control" data-ng-model="TopicID" data-ng-options="t.TopicID as t.TopicName for t in Topics" style="height:108px;"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Faculty</label>
                            <select class="form-control" data-ng-model="FacultyID" data-ng-options="f.FacultyID as f.FacultyName for f in Faculties">
                                <option value="">{{FacultyTextToShow}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Planned Coverage </label>
                            <textarea class="form-control" ng-model="PlannedCoverage" rows="6" placeholder="Enter ..."></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @*<div class="form-group">
                                <label>Session No.</label>
                                <input type="text" ng-model="SessionNo" name="SessionNo" style="font-weight:bold; color:coral;" class="form-control">
                            </div>*@
                        <div class="form-group">
                            <label>Session Date</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" ng-model="SessionDate" class="form-control pull-right" id="datepicker">
                            </div>
                        </div>
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>Start Time</label>
                                <div class="input-group">
                                    <input type="text" ng-model="StartTime" class="form-control timepicker">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bootstrap-timepicker">
                            <div class="form-group">
                                <label>End Time</label>
                                <div class="input-group">
                                    <input type="text" ng-model="EndTime" class="form-control timepicker">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Studio</label>
                            <select class="form-control" id="drpStudio" style="width: 100%;" data-ng-model="StudioID" data-ng-options="st.StudioID as st.StudioName for st in StudioList">
                                <option value="">{{StudioTextToShow}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Session Name</label>
                            <input type="text" ng-model="SessionName" readonly="readonly" name="SessionName" placeholder="System Generated" style="font-weight:bold; color:coral;" class="form-control">
                        </div>

                    </div>



                </div>
            </div>
            <div class="box-footer">
                <button type="submit" ng-click="EditSession()" class="btn btn-primary">Save Session</button>
                <button type="submit" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </section>

</div>
<script src="~/Template/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script>
    $(function () {
        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        });
    });

    //Timepicker
    $(".timepicker").timepicker({
        showInputs: false
    });
</script>



