
@{
    ViewBag.Title = "EditRRQ";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/AngularControllers/RRQController.js"></script>
    <script src="~/Scripts/AngularControllers/QuestionBankController.js"></script>
}
<div data-ng-controller="EditRRQCntrl" data-ng-init="GetRRQQuestionDetails()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Edit RRQ
            <small>View RRQ questions</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">RRQ</a></li>
        </ol>
    </section>

    <!-- Form Body (Page body)-->
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="pull-left">
                    <button type="button" class="btn btn-dropbox" id="btnAddProgram" data-toggle="modal" ng-click="AddQuestion()"><i class="glyphicon glyphicon-plus"> </i> Add Question</button>
                </div>
                <div class="box-tools pull-right">
                    <label>
                        <input type="text" name="table_search" ng-model="StudentFilter" class="form-control" placeholder="Search Question..">
                    </label>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:5px;">#</th>
                                    <th>Questions & Options</th>
                                    <th style="width:250px;">Question Tag</th>
                                    <th style="width:100px;">Delete</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="Q in RRQQuestionList | filter:StudentFilter | startFrom:currentPage*RRQpageSize | limitTo:RRQpageSize">
                                <tr>
                                    <td>
                                        {{$index+1}}.
                                    </td>
                                    <td>
                                        <span><strong>{{Q.Question.QuestionText}}</strong></span>
                                    </td>
                                    <td>
                                        <span>{{Q.Question.TagText}}</span>
                                    </td>
                                    <td>
                                        <span ng-click="RemoveQuestionFromRRQ(Q.Question.QID)" style="cursor:pointer;" class="fa fa-times-circle-o"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div style="margin-left:50px;" ng-repeat="O in Q.Options">
                                            {{$index+1}}. {{O.OptionText}}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-flat" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                            Previous
                        </button>
                        {{currentPage+1}}/{{RRQnumberOfPages()}}
                        <button class="btn btn-flat" ng-disabled="currentPage >= RRQnumberOfPages() - 1" ng-click="currentPage=currentPage+1">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>