
@{
    ViewBag.Title = "SelectSession";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/AngularControllers/SessionController.js"></script>
}
<div ng-controller="SessionAttendanceCntrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Select Session
            <small>Select session to mark attendance</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Session</a></li>
            @*<li class="active">Add Course</li>*@
        </ol>
    </section>
        
    <section class="content">        
        <div class="box box-info col-md-6">
            <div class="box-body">                
                <div class="form-group">
                    <label>Select Program:</label>
                    <select class="form-control" id="drpProgramName" style="width: 100%;" data-ng-model="ProgID" data-ng-options="c.ProgID as c.ProgramName for c in ProgramsList" data-ng-change="GetCourseList()">
                        <option value="">{{ProgramTextToShow}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Select Course:</label>
                    <select class="form-control" id="drpCourseName" style="width: 100%;" data-ng-model="CourseID" data-ng-options="c.CourseID as c.CourseName for c in CoursesList" data-ng-change="GetSubjectsList()">
                        <option value="">{{CourseTextToShow}}</option>
                    </select>                 
                </div>    
                <div class="form-group">
                    <label>Select Subject:</label>
                    <select class="form-control" id="drpSubjectName" style="width: 100%;" data-ng-model="SubjectID" data-ng-options="c.SubjectID as c.SubjectName for c in SubjectsList" data-ng-change="GetStartedSessions()">
                        <option value="">{{SubjectTextToShow}}</option>
                    </select>
                </div>              
                <div class="bootstrap-timepicker">
                    <div class="form-group">
                        <label>Select Session:</label>
                        <select class="form-control" id="drpSessionName" style="width: 100%;" data-ng-model="SessionID" data-ng-options="c.SessionID as c.SessionName for c in StartedSessionsList">
                            <option value="">{{SessionTextToShow}}</option>
                        </select>
                    </div>                    
                </div>
            </div>  
            <div class="box-footer">
                <button type="button" class="btn btn-danger btn-sm pull-right" id="btnViewCenters" ng-click="InitiateAttendance()">Mark Attendance&nbsp;<i class="glyphicon glyphicon-chevron-right"> </i></button>
           </div>
        </div>
    </section>
</div>



