
@{
    ViewBag.Title = "ViewSessions";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/AngularControllers/SessionController.js"></script>
    <script src="~/Scripts/AngularControllers/ModalDirective.js"></script>
}
<div data-ng-controller="SessionCntrl" data-ng-init="GetSessions()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            View Sessions
            <small>View session details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">View Session</a></li>
        </ol>
    </section>

    <!-- Form Body (Page body)-->
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="pull-left">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" id="btnAddProgram" ng-click="StartStopSession('Start')"><i class="glyphicon glyphicon-play"> </i> Start Session</button>
                        <button type="button" class="btn btn-danger" id="btnAddCourse" ng-click="StartStopSession('Stop')"><i class="glyphicon glyphicon-stop"> </i> Stop Session</button>
                    </div>
                    <button type="button" class="btn btn-info" id="btnDisplayRRQ" data-toggle="modal" data-target="#DisplayRRQSelector"><i class="glyphicon glyphicon-tasks"></i> Display RRQ</button>
                    <button type="button" class="btn btn-info" id="btnAddCourse" data-toggle="modal" data-target="#ViewRRQSelector"><i class="glyphicon glyphicon-tasks"></i> Show RRQ Dashboard</button>
                    <button type="button" class="btn btn-info" id="btnAddCourse" ng-click="ShowNameFaceScreen()"><i class="glyphicon glyphicon-tasks"></i> SPS</button>
                    <button type="button" class="btn btn-info" id="btnAddCourse" ng-click="DisplayClassrooms()"><i class="glyphicon glyphicon-tasks"></i> 2 Way Call</button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success">Action</button>
                        <button type="button" class="btn btn-microsoft dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a data-toggle="modal" data-target="#NewRRQModalSelector">Add RRQ</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#YoutubeVideoLinking">Add YouTube Video</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>

                    <!-- Modal Popup -->
                    <modal lolo="modal1" modal-body="body" modal-footer="footer" modal-header="header" data-ng-click-right-button="myRightButton()"></modal>
                </div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Sl No.</th>
                                    <th>Session Name</th>
                                    <th>Session Date</th>
                                    <th>Scheduled / Actual Time</th>
                                    <th>Course &amp; Subject</th>
                                    <th>Studio</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Session in SessionsList | filter: CourseFilter">
                                    <td>
                                        <input type="radio" value="No" class="minimal" ng-click="SelectSession(Session.SessionID)" id="SelectionRadio" name="SelectionRadio" />
                                    </td>
                                    <td>
                                        {{$index+1}}.
                                    </td>
                                    <td>
                                        <span>{{Session.SessionName}}</span>
                                    </td>
                                    <td>
                                        <span>{{Session.SessionDate}}</span>
                                    </td>
                                    <td>
                                        <span>{{Session.StartTime}} / <strong>{{Session.ActualStartTime}}</strong></span> - <span>{{Session.EndTime}} / <strong>{{Session.ActualEndTime}}</strong></span>
                                    </td>
                                    <td>
                                        <span>{{Session.CourseName}}</span> :: <span>{{Session.SubjectName}}</span>
                                    </td>
                                    <td>
                                        <span>{{Session.StudioName}}</span>
                                    </td>
                                    <td>
                                        <div ng-if="Session.SessionStatus == 'Started'">
                                            <span class="label label-success">{{Session.SessionStatus}}</span>
                                        </div>
                                        <div ng-if="Session.SessionStatus == 'End'">
                                            <span class="label label-danger">{{Session.SessionStatus}}</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-primary" id="addColor" ng-click='StartStudioChat(Session.SessionID, Session.StudioName)'>Start Chat</button>
                                    </td>

                                    <th>
                                        &nbsp;
                                        <span ng-click="SurveyAttemptReport(Survey.SURVEY_ID)" style="cursor:pointer;" class="fa fa-pencil-square-o"></span>&nbsp;
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @* Popup to Show RRQ Selector Window *@
    <div class="modal" id="YoutubeVideoLinking" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Youtube Video Linking</h3>
                </div>
                <div class="modal-body" style="margin:0px 10px 0px 10px;">
                    <form class="form-horizontal" name="ShowRRQSelector">
                        <div class="form-group">
                            <label class="text-info"> Youtube Video URL</label>
                            <input type="text" name="RRQName" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnAddTopic" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* Popup to Show Topic Window *@


    @* Popup to Show RRQ Selector Window *@
    <div class="modal" id="ViewRRQSelector" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Select RRQ</h3>
                </div>
                <div class="modal-body" style="margin:0px 10px 0px 10px;">
                    <form class="form-horizontal" name="ShowRRQSelector">
                        <div class="form-group">
                            <label class="text-info"> Program Name</label>
                            <select class="form-control" id="drpRRQName" style="width: 100%;" data-ng-model="RRQ_ID" data-ng-options="c.RRQ_ID as c.RRQNo for c in SessionRRQList">
                                <option value="">Please select RRQ..</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="ShowRRQDashboard(RRQ_ID)" id="btnAddTopic" data-dismiss="modal">Show Dashboard</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* Popup to Show Topic Window *@

    @* Popup to Show New RRQ Popup *@
    <div class="modal" id="NewRRQModalSelector" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">New RRQ</h3>
                </div>
                <div class="modal-body" style="margin:0px 10px 0px 10px;">
                    <form class="form-horizontal" name="ShowRRQSelector">
                        <div class="form-group">
                            <label class="text-info"> RRQ Name</label>
                            <input type="text" ng-model="RRQName" name="RRQName" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="CreateNewRRQ()" id="btnNewRRQ" data-dismiss="modal"> New RRQ </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* Popup to Show New RRQ Popup *@

    @* Popup to Show RRQ Selection *@
    <div class="modal" id="DisplayRRQSelector" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Select RRQ</h3>
                </div>
                <div class="modal-body" style="margin:0px 10px 0px 10px;">
                    <form class="form-horizontal" name="ShowRRQSelector">
                        <div class="form-group">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Sl No.</th>
                                        <th>RRQ Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="RRQ in SessionRRQList">
                                        <td>{{$index+1}}.</td>
                                        <td><a ng-href="/SessionMgmt/RRQIntroduction/{{RRQ.RRQ_ID}}">{{RRQ.RRQNo}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @* Popup to Show RRQ Selection *@

</div>
