
@{
    ViewBag.Title = "CenterActivityLogs";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Center Activity Log
            <small>View all centers activity</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Activity Log</a></li>
            @*<li class="active">Add Course</li>*@
        </ol>
    </section>

    <!-- Form Body (Page body)-->
    <section class="content">
        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-1">Sl No.</th>
                                    <th class="col-md-11">Logs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1.
                                    </td>
                                    <td>
                                        <span>Pritampura center logged-in at 19.08.2018 03:56 PM. </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2.
                                    </td>
                                    <td>
                                        <span>Pritampura center attendance marked for Math Session. Session start time 19.08.2018 03:45 PM. </span>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        3.
                                    </td>
                                    <td>
                                        <span>Naraina center logged-in at 25.08.2018 12:10 PM. </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        4.
                                    </td>
                                    <td>
                                        <span>Naraina center Logged-out at 25.08.2018 12:25 PM </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        5.
                                    </td>
                                    <td>
                                        <span>Pritampura center logged-in at 28.09.2018 06:42 PM. </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


