
@{
    ViewBag.Title = "ViewClassrooms";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}


@section scripts{
    <script src="~/Scripts/AngularControllers/CenterController.js"></script>
}
<div ng-controller="CenterCntrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            View Classrooms
            <small>View all classrooms</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">View classrooms</a></li>
            @*<li class="active">Add Course</li>*@
        </ol>
    </section>

    <!-- Form Body (Page body)-->
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="pull-left">
                    <div ng-if="AccountID == 3">
                        <button type="button" class="btn btn-success" id="btnViewCenters" data-toggle="modal" data-target="#AddClassroom"><i class="glyphicon glyphicon-plus"> </i>&nbsp; Add Classroom</button>
                        <button type="button" class="btn btn-foursquare" id="btnViewCenters" data-toggle="modal" data-target="#AddClassCoordinator"><i class="glyphicon glyphicon-plus"> </i>&nbsp; Add Class Coordinator</button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Center Name</th>
                                    <th>Center Code</th>
                                    <th>Landline/Mobile</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Pin Code</th>
                                    <th>Is Active</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Center in CentersList">
                                    <td>
                                        {{$index+1}}.
                                    </td>
                                    <td>
                                        <a data-toggle="modal" data-target="#AddClassroom" href="" ng-click="SelectedCenter(Center.CenterID)">
                                            {{Center.CenterName}}
                                        </a>
                                    </td>
                                    <td>
                                        <span>{{Center.CenterCode}}</span>
                                    </td>
                                    <td>
                                        <span>{{Center.ContactNumber}}</span>
                                    </td>
                                    <td>
                                        <span>{{Center.Email}}</span>
                                    </td>
                                    <td>
                                        <span>{{Center.Address}}</span>
                                    </td>
                                    <td>
                                        <span>{{Center.PinCode}}</span>
                                    </td>
                                    <td>
                                        <span>{{Center.IsActive}}</span>
                                    </td>
                                    <th>
                                        <span ng-click="SurveyAttemptReport(Survey.SURVEY_ID)" style="cursor:pointer;" class="fa fa-file-text-o"></span>&nbsp;
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @* Popup to Show Add Classroom Window *@
    <div class="modal" id="AddClassroom" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Add Classroom</h3>
                </div>
                <div class="modal-body" style="margin:0px 10px 0px 10px;">
                    <form class="form-horizontal" name="UpdateEmployeeForm">
                        <div class="form-group">
                            <label class="text-info"> Classroom Name</label>
                            <input type="text" name="ClassroomName" ng-model="ClassroomName" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter classroom name...">
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Sitting Capacity</label>
                            <input type="text" name="SittingCapacity" ng-model="SittingCapacity" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter sitting capacity of a classroom...">
                        </div>
                    </form>
                    <hr />
                    <button type="button" class="btn btn-success" ng-click="SaveClassroom()" id="btnUpdate" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <div class="modal-footer">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Classroom Name</th>
                                <th>Sitting Capacity</th>
                                <th>Is Active</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Classroom in ClassroomList">
                                <td>
                                    {{$index+1}}.
                                </td>
                                <td>
                                    <a href="" ng-click="ViewClassCoordinator(Classroom.ClassRoomID)">
                                        {{Classroom.ClassRoomName}}
                                    </a>
                                </td>
                                <td>
                                    <span>{{Classroom.SittingCapacity}}</span>
                                </td>
                                <td>
                                    <span>{{Center.IsActive}}</span>
                                </td>
                                <th>
                                    <span style="cursor:pointer;" class="fa fa-file-text-o"></span>&nbsp;
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @* Popup to Show Add Classroom Window *@


    @* Popup to Show Add Class Coordinator Window *@
    <div class="modal" id="AddClassCoordinator" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Add Class Coordinator</h3>
                </div>
                <div class="modal-body" style="margin:0px 10px 0px 10px;">
                    <form class="form-horizontal" name="UpdateEmployeeForm">
                        <div class="form-group">
                            <label class="text-info"> Classroom</label>
                            <input type="text" name="ClassroomName" ng-model="ClassroomName" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter classroom name...">
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Coordinator</label>
                            <input type="text" name="SittingCapacity" ng-model="SittingCapacity" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter sitting capacity of a classroom...">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="SaveProgram()" id="btnUpdate" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* Popup to Show Add Class Coordinator Window *@


    @* Popup to Show Add Equipment Window *@
    <div class="modal" id="AddEquipment" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Add Equipment</h3>
                </div>
                <div class="modal-body" style="margin:0px 10px 0px 10px;">
                    <form class="form-horizontal" name="UpdateEmployeeForm">
                        <div class="form-group">
                            <label class="text-info"> Equipment Type</label>
                            <input type="text" name="EquipmentType" ng-model="EquipmentType" style="font-weight:bold; color:coral;" class="form-control" placeholder="Select equipment type...">
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Serial No.</label>
                            <input type="text" name="EquipmentSerialNo" ng-model="EquipmentSerialNo" style="font-weight:bold; color:coral;" class="form-control" placeholder="Enter equipment serial no...">
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Manufacture Date</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="datepicker">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Comments</label>
                            <textarea class="form-control" rows="3" placeholder="Enter comment..."></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="SaveProgram()" id="btnUpdate" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @* Popup to Show Add Class Coordinator Window *@
</div>
