
@{
    ViewBag.Title = "RRQ Report";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/AngularControllers/RRQDashboardController.js"></script>
}

<div ng-controller="RRQReportCntrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            RRQ Report
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Report</a></li>
            @*<li class="active">Add Course</li>*@
        </ol>
    </section>

    <!-- Form Body (Page body)-->
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="pull-left">
                    <label>
                        <button type="button" class="btn btn-block btn-success" ng-click="DownloadReport()">RRQ Report</button>
                    </label>
                    <label>
                        <button type="button" class="btn btn-block btn-facebook" ng-click="DownloadIntegrationReport()">Integration Report</button>
                    </label>
                </div>
                <div class="pull-right">
                    <label>
                        <input type="text" name="table_search" ng-model="CourseFilter" class="form-control" placeholder="Search..">
                    </label>
                </div>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-12" id="reportTable">
                        <table class="table table-hover" style="table-layout: fixed" ng-repeat="table in RRQTable">                            
                            <tr>
                                <th ng-repeat="column in table.cols">{{column}}</th>
                            </tr>
                            <tr ng-repeat="row in table.rows | filter: CourseFilter">
                                <td ng-repeat="cell in row track by $index">{{ cell | limitTo: 15 }}{{cell.length > 15 ? '...' : ''}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
